name: Build UR3e Packages (Ubuntu 24.04)

on:
  push:
    branches: master

jobs:
  rattler-build-job:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # This installs rattler-build on the 24.04 runner
      - name: Setup Rattler-build
        uses: prefix-dev/setup-rattler-build@v0

      - name: Build Package
        run: |
          rattler-build build --recipe recipe.yaml \
          -c https://prefix.dev/GavinJ738/colman \
          -c robostack-jazzy \
          -c conda-forge

      - name: Upload
        env:
          PREFIX_API_KEY: ${{ secrets.PREFIX_API_KEY }}
        run: |
          rattler-build upload prefix -c colman output/linux-64/*.conda